.blue-banner-top {
  height: 15px;
  width: 100%;
  background-color: #41c1c4;
}

.logo {
  max-height: 50px;
}

.shopping-cart-container {
  height: 35px;
  width: 200px;
}

#app {
  margin: 10px;
}

.align-right {
  text-align: right;
}

.no-left-margin {
  margin-left: 0px !important;
  margin-right: 5px !important;
}

.heavy-font {
  font-weight: 600;
}

.red-color {
  color: red;
}

.bottom-border-thick {
  border-bottom: 5px solid black;
}

.hero-banner {
  width: 100%;
  height: auto;
}

h1 {
  font-size: 50px !important;
  font-weight: 600 !important;
  line-height: 64px !important;
}

h2 {
  font-size: 32px !important;
  font-weight: 600 !important;
  line-height: 32px !important;
}

h3 {
  font-size: 16px !important;
}

h4 {
  font-weight: 600 !important;
  font-size: 18px !important;
}


.popper-dropdown {
  border-color: #edf1f2 !important;
  background-color: #edf1f2 !important;
  margin-top: 1px !important;
  border-radius: 0px !important;
}

.router-link-active:hover {
  color: #41c1c4 !important;
  background-color: #b5c2ca !important;
  border-color: #b5c2ca !important;
}

.router-link-active {
  color: #5e676f !important;
  background-color: #edf1f2 !important;
  border-color: #edf1f2 !important;
}

.nav-button {
  border-top: 0px !important;
  border-left: 0px !important;
  border-right: 0px !important;
  border-bottom: 5px solid white !important;
  min-width: 90px;
}

.nav-button:hover {
  background-color: #1d2b36;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border-bottom: 5px solid #45cbcf !important;

  span {
    color: white;
  }
}

.button {
  border-radius: 0px !important;
}

.menu-list .float {
  background-color: #edf1f2 !important;
  border-color: #edf1f2 !important;
  margin-left: -2px;
  margin-top: -1px;
  min-width: 100px !important;
}

.has-children .is-open {
  background-color: #5e676f !important;
}

.menu-list a:hover {
  background-color: #b5c2ca !important;
  border-color: #b5c2ca !important;
  color: black !important;
}

.is-open {
  background-color: #b5c2ca !important;
  border-color: #b5c2ca !important;
  color: black !important;
}

.strikethrough {
  border-bottom: 2px solid black;
  padding-top: 14px;
}

.uppercase {
  text-transform: uppercase;
}

.align-center {
  text-align: center;
}

.col-2-custom {
  display: inline-block;
  font-weight: 500;
  padding: 0px;
  width: 49%;
}

.item-price {
  font-weight: 500 !important;
}

.grey-border {
  border: 1px solid #c8d3d5;
}

.strikethrough-text {
  text-decoration: line-through;
}

.align-left {
  text-align: left;
}

.footer {
  background-color: #888f93 !important;
  padding-left: 5% !important;
  padding-right: 5% !important;
}

.cart-image {
  height: 60px;
  width: 60px;
}

.w-100 {
  width: 100%;
}

.inline-container {
  display: inline-block;
  margin-top: 10px;
}

.item-details {
  width: 85%;
}

.extra-margin-bottom {
  margin-bottom: 10px;
}

.vaimo-button {
  background-color: #41c1c4 !important;
  color: white !important;
  line-height: 30px !important;
  border-color: #41c1c4 !important;
  font-weight: 600;
  padding-top: 5px !important;
  border-radius: 4px !important;
}

.product-title {
  font-weight: 600;
}

.w-80 {
  width: calc(100% - 125px) !important;
}

.columns:last-child {
  margin-bottom: 0px !important;
}

.shopping-cart-button {
  border-radius: 4px !important;
  border: 1px solid #b5c2ca !important;
}

.white {
  color: white;
}

@media screen and (min-width: 777px) {
  .mobile-navbar {
    display: none !important;
  }

  .popover-mobile {
    display: none;
  }
}

@media screen and (max-width: 450px) {
  .logo-small {
    vertical-align: text-top !important;
  }
}

@media screen and (max-width: 776px) {
  .bottom-border-thick {
    display: none !important;
  }

  .popover-desktop {
    display: none !important;
  }

  .shopping-cart-button {
    background-color: #edf1f2 !important;
    position: absolute !important;
    right: 100px !important;
    top: 30px !important;
    width: 50px !important;
    height: 40px !important;
  }

  .bm-burger-button {
    right: 36px !important;
    left: auto !important;
    top: 31px !important;
    height: 40px !important;
    width: 50px !important;
    border: 1px solid #b5c2ca !important;
    background-color: #edf1f2 !important;
    border-radius: 4px !important;
  }

  .bm-burger-bars {
    width: 52% !important;
    height: 8% !important;
    margin-left: auto !important;
    margin-right: auto !important;
  }

  .bm-burger-bars:first-child {
    top: 26% !important;
  }

  .bm-burger-bars:not(:first-child) {
    top: 45% !important;
  }

  .bm-item-list {
    margin: 0px !important;
  }

  .bm-burger-bars:last-child {
    top: 64% !important;
  }

  .w-100 {
    display: inline-block !important;
    width: 75% !important;
  }

  h6 {
    font-size: 18px !important;
  }

  h3 {
    font-size: 21px !important;
  }

  .cart-image {
    margin-bottom: -13px !important;
  }

  .favourites-text {
    margin-left: auto !important;
    margin-right: auto !important;
  }

  .subscribe-text {
    padding-bottom: 10px !important;
  }

  .bm-menu {
    background-color: white !important;
    padding-top: 0px !important;
    width: 100%;
  }

  .extra-width {
    padding: 0px !important;
  }

  .menu-list li {
    border-top: 1px solid #b5c2ca !important;
  }

  .bm-item-list > div {
    padding: 0px !important;
  }

  .router-link-active {
    color: black !important;
    background: white !important;
  }

  .menu {
    border-left: 1px solid #b5c2ca !important;
    border-right: 1px solid #b5c2ca !important;
    border-bottom: 1px solid #b5c2ca !important;
  }

  .bm-overlay {
    background-color: inherit !important;
  }

  .bm-cross {
    background: black !important;
  }

  .col-2-custom {
    width: 48% !important;
  }

  .is-6-mobile {
    display: inline-block !important;
    width: 49% !important;
  }

  .strikethrough {
    display: none;
  }

  .vaimo-button {
    width: 100%;
  }

  .vaimo-button-large-text {
    font-size: 20px !important;
  }

  .subscribe {
    margin-top: 10px;
  }

  .w-80 {
    width: 100% !important;
  }

  .d-none {
    display: none !important;
  }
}

input {
  text-indent: 28px;
  border-color: white !important;
}

.icon-container {
  position: relative
}

.subscribe-icon {
  position: absolute;
  left: 7px;
  top: 4px;
}

.subscribe-input {
  padding-top: 2px;
}

.input:active {
  border-color: #41c1c4 !important;
}

.icon {
  color: black !important;
}

#app {
  margin-bottom: 0px;
}

.narrow-center {
  width: 93%;
  margin-left: auto !important;
  margin-right: auto !important;
}

.favourites-text {
  width: fit-content;
  display: inline-block;
}

@media screen and (max-width: 855px) {
  .col-2-custom {
    width: 48% !important;
  }
}

.favourites-heading {
  font-size: 27px !important;
  font-weight: 400;
}

#status {
  padding-top: 15px;
  padding-left: 10px;
}

.green {
  color: green !important;
}

.red {
  color: red;
}

.link:hover {
  color: #41c1c4 !important;
}

$width: 15px;
$height: 15px;
$bounce_height: 30px;

body {
  position: relative;
  width: 100%;
  height: 100vh;
}

.wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.text {
  color: #41c1c4;
  display: inline-block;
  margin-left: 5px;
}

.bounceball {
  position: relative;
  display: inline-block;
  height: 37px;
  width: $width;
  &:before {
    position: absolute;
    content: '';
    display: block;
    top: 0;
    width: $width;
    height: $height;
    border-radius: 50%;
    background-color: #41c1c4;
    transform-origin: 50%;
    animation: bounce 500ms alternate infinite ease;
  }
}

@keyframes bounce {
  0% {
    top: $bounce_height;
    height: 5px;
    border-radius: 60px 60px 20px 20px;
    transform: scaleX(2);
  }
  35% {
    height: $height;
    border-radius: 50%;
    transform: scaleX(1);
  }
  100% {
    top: 0;
  }
}


.checkout {
  margin-left: auto !important;
  margin-right: 5px !important;
}
